future~=0.18.2
Pillow~=7.1.2
numpy~=1.16.2
pytz~=2020.1
Cython~=0.29.21
setuptools~=47.2.0
configparser~=5.0.1
scipy~=1.4.1
matplotlib~=3.3.1
torch~=1.5.0
six~=1.15.0
tensorboard~=2.2.2
tqdm~=4.46.1
tensorflow~=2.2.0
torchvision~=0.6.0
click~=7.1.2
networkx~=2.5
PyYAML~=5.3.1
tifffile~=2020.9.3
tensorboardX~=2.0
pip~=19.0.3
wheel~=0.34.2
